%h1 Listing movies

#current_movie

- @movies.each do |movie|
  .media
    .media-left
      %a.select-movie-js{:href => "#", :movie_url => "#{movie.contents[0]['url']}", :image_url => "#{movie.images[0]['url']}"}
        = image_tag(movie.images[0]['url'], size: 64, alt: "icon")
    .media-body
      %h4.media-heading 
        = movie.title
      = movie.description
