%p#notice= notice

%p
  %b Url:
  = @movie.url
%p
  %b Format:
  = @movie.format
%p
  %b Width:
  = @movie.width
%p
  %b Height:
  = @movie.height
%p
  %b Langauge:
  = @movie.langauge
%p
  %b Duration:
  = @movie.duration
%p
  %b Geolock:
  = @movie.geoLock

= link_to 'Edit', edit_movie_path(@movie)
\|
= link_to 'Back', movies_path
